@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration:none;
}

.container {
    min-height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

img {
    height:100%;
    width:100%;
    object-fit: cover;
}

.section-title {
    font-size:4rem;
    font-weight:300;
    color:black;
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color:#EF8354;
    font-weight:400;
    font-size:4.5rem;
}

.cta {
    display:inline-block;
    padding:10px 15px;
    color:white;
    border:2px solid #EF8354;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing:.1rem;
    margin-top:30px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: center;
}


/* Header */
#header {
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100vw;
    height:auto;
}

#header .header {
    min-height:8vh;
    background-color:transparent;
    transition: .3s ease background-color;
}

#header .nav-bar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:100%;
    max-width:1300px;
    padding:0 10px;
}

#header .nav-bar .brand a {
    color:#EF8354;
    font-size:2rem;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(45, 49, 66);
    width:100vw;
    height:100vh;
    left:100%;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    overflow-x:hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left:0;
}

#header .nav-list ul a {
    font-size:2.5rem;
    font-weight:500;
    letter-spacing:.2rem;
    text-decoration:none;
    color:white;
    text-transform: uppercase;
    padding:20px;
    display:block;
    font-weight: 600;
}

#header .nav-list ul a::after {
    content:attr(data-after);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(239,131,84,0.05);
    font-size:4rem;
    letter-spacing: .5rem;
    z-index: -1;
    transition: .5s ease font-size;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%,-50%) scale(1);
    font-size: 6rem;
}

#header .nav-list ul li:hover a {
    color:#EF8354;
}
#header .hamburger {
    height:60px;
    width:60px;
    z-index:100;
    border:3px solid #EF8354;
    border-radius:50%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    z-index:100;
    cursor:pointer;
    transform:scale(0.8);
}

#header .hamburger::after {
    position:absolute;
    content:'';
    height:100%;
    width:100%;
    border-radius: 50%;
    border:2px solid #EF8354;
    animation:hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height:2px;
    width:30px;
    position:relative;
    background-color:white;
    z-index:-1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    background-color:white;
    transition:.3s ease;
    transition-property: top, bottom;

}

#header .hamburger .bar::after {
    top:8px;
}

#header .hamburger .bar::before {
    bottom:8px;
}

#header .hamburger.active .bar::before
{
    bottom:0;
}

#header .hamburger.active .bar::after {
top:0;
}

/* End Header */
/* Hero */
#hero {
    background-image:url(hero.jpg);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    z-index: 1;

}

#hero::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:.7;
    z-index:-1;
}

#hero .hero {
    max-width:1200px;
    margin:0 auto;
    padding:0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display:block;
    width:fit-content;
    font-size:5rem;
    position:relative;
    color:transparent;
    margin-bottom:15px;
    animation: h1text_reveal .5s ease forwards;
    animation-delay: 1.5s;
    font-weight: 600;
}



#hero h2 {
    display:block;
    width:fit-content;
    font-size:4rem;
    position:relative;
    color:transparent;
    animation: h2text_reveal .5s ease forwards;
    animation-delay: 2.5s;
}

#hero .cta {
    display:inline-block;
    padding:10px 15px;
    color:white;
    border:2px solid #EF8354;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing:.1rem;
    margin-top:30px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: center;
}

#hero .cta:hover {
    color:white;
    background-color:#EF8354;;
}

#hero h1 span
 {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:#EF8354;
    animation:text_reveal_box 1s ease;
    animation-delay:1s;
}

#hero h2 span {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:white;
    animation:text_reveal_box 1s ease;
    animation-delay:2s;
}

/* End Hero*/

/* Services */
#services {
    background-color:rgba(191,192,192,.25)
}

#services .services {
    flex-direction:column;
    text-align:center;
    max-width:1500px;
    margin:0 auto;
    padding:100px 0;
}



#services .service-top p {
    color:black;
    font-size:1.8rem;
    margin-top:5px;
    line-height:2.5rem;
    font-weight: 300;
}

#services .service-bottom {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:100px;
}

#services .service-item {
    flex-basis:80%;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction:column;
    padding:30px;
    border-radius:10px;
    background-image:url(szpachlowanie.jpg);
    background-size:cover;
    background-position: center;
    margin:10px 5%;
    position:relative;
    z-index:1;
    text-align:left;
}

#services .lakierowanie {
background-image: url(lakierowanie.jpg);
}

#services .malowanie {
    background-image: url(malowanie.jpg);
}

#services .panele {
    background-image: url(panele.jpg);
}


#services .service-item::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-image:linear-gradient(to left,black,#2D3142,black);
    opacity:.85;
    z-index:-1;
    border-radius:10px;
}

#services .service-bottom .icon {
    height:60px;
    width:60px;
    margin-bottom:10px;
}


#services .service-item h3 {
    font-size:2rem;
    color:#EF8354;
    margin-bottom:10px;
    text-transform: uppercase;
}

#services .service-bottom p {
    font-size:1.2rem;
    color:white;
    font-weight:300;
    line-height:1.7rem;
}
/* End Services*/

/* About */

#about .about {
    background-color: rgba(191,192,192,.25);

}

#about .about-inner {
flex-basis:80%;
display:flex;
align-items:center;
justify-content: center;
flex-direction:column;
padding:30px;
padding-bottom: 0;
border:2px solid #EF8354;
background-size:cover;
background-position: center;
margin:0 10%;
position:relative;
z-index:1;
text-align:center;
background-color:white;
}

#about p {
    color:black;
    font-size:1.8rem;
    margin-top:5px;
    line-height:2.5rem;
    font-weight: 300;
    margin-bottom:40px;
}

#about .social {
    margin:10px;
    display:grid;
}

#about .facebook img {
    object-fit: none;
    transform: scale(0.4);
}

/* Gallery */

#gallery .gallery {
  
    background-color: rgba(191,192,192,.25);
    padding:100px 0;
 
}

#gallery p {
    color:black;
    font-size:1.8rem;
    margin-top:5px;
    line-height:2.5rem;
    font-weight: 300;
    margin-bottom:40px;
}

#gallery .gallery-left {
    text-align:center;
}

#gallery .gallery-left img {
    max-width:40px;
    justify-content: center;
    align-items: center;
}

#gallery .gallery-right {
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

#gallery .gallery-right .slider {
    width:300px;
    height:200px;
    border:2px solid #EF8354;
    overflow:hidden;
}

#gallery .gallery-right .slides {
    width:500%;
    height:200px;
    display:flex;
}

#gallery .gallery-right .slides input {
    display: none;
}

#gallery .gallery-right .slide {
    width:20%;
    transition:2s;
}

#gallery .gallery-right .slide img {
    width:300px;
    height:200px;
}

#gallery .gallery-right .navigation-manual {
    position:absolute;
    width:300px;
    margin-top:20px;
    display:flex;
    justify-content: center;
}


#gallery .gallery-right .manual-btn {
    border:2px solid #EF8354;
    border-radius: 10px;
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
}

.manual-btn:not(:last-child){
    margin-right:20px;
}

.manual-btn:hover {
    background:#EF8354;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-20%;
}

#radio3:checked ~ .first{
    margin-left:-40%;
}

#radio4:checked ~ .first{
    margin-left:-60%;
}

#radio5:checked ~ .first{
    margin-left:-80%;
}

#radio6:checked ~ .first{
    margin-left:-100%;
}

#radio7:checked ~ .first{
    margin-left:-120%;
}

#radio8:checked ~ .first{
    margin-left:-140%;
}

#gallery .navigation-auto {
    position:absolute;
    display:flex;
    width:300px;
    justify-content: center;
    margin-top:220px;
}

#gallery .navigation-auto div {
    border:2px solid #EF8354;
    padding:5px;
    border-radius:10px;
    transition:1s;
}

#gallery .navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background:#EF8354;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:#EF8354;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background:#EF8354;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background:#EF8354;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background:#EF8354;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background:#EF8354;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background:#EF8354;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background:#EF8354;
}


/* End Gallery */

/* End About */

/* Keyframes */
@keyframes hamburger_puls {
    0% {
        opacity:1;
        transform:scale(1);
    }
    100% {
        opacity:0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width:100%;
        left:0;
    }
    100% {
        width:0;
        left:100%;
    }
}

@keyframes h1text_reveal {
    100% {
        color:#EF8354;
    }
}

@keyframes h2text_reveal {
    100% {
        color:white;
    }
}

/* End Keyframes */

/* Media Queries for smaller mobile phones */
@media only screen and (max-width:375px) {
    #hero h1 {
        font-size:4rem;
    }

    #hero h2 {
        font-size:3rem;
    }

    #hero .cta {
        font-size:1.5rem;
    }
}

/* End Media Queries for smaller mobile phones */

/* Media Queries for tablet */

@media only screen and (min-width:768px){
    #hero h1 {
        font-size:7rem;
    }

    #hero h2 {
        font-size: 6rem;
    }

    #hero .cta {
        font-size:2.5rem;
        padding:20px 60px;
    }

    .section-title
     {
        font-size:6rem;
    }

 .section-title span {
        font-size:6.5rem;
    }

    #services .service-bottom .service-item {
        flex-basis:45%;
        margin:2.5%;
    }

    #about {
        background-color:rgba(191,192,192,.25);
        min-height:100vh;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    
    #about .about {
        background:url(about.png) no-repeat left;
        background-size:150%;
        overflow: hidden;
        padding: 150px 0;
       
    }

    #about .about-inner {
        background-color:white;
        border:2px solid #EF8354;
        padding:50px;
        margin:100px;
        padding-bottom:0;
    }
    
    #about p {
        color:black;
        font-size:1.8rem;
        margin-top:5px;
        line-height:2.5rem;
        font-weight: 300;
    }

    #about .social {
        display:inline-grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom:0;
    }
    
    #about .fixly img {
        object-fit: contain;
    }


   
    #about p {
        margin-bottom:0;
    }
   
    #gallery .gallery-left {
        display:grid;
        align-items:center;
        justify-content: center;
        margin:0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }



    #gallery .gallery-left h1,
    #gallery .gallery-left p {
        grid-column: 1/5;
    }    

    #gallery .gallery-left img {
        margin-top:30px;
    }

    
 

}

/* End Media Queries for tablet  */

/* Media Queries for desktop */

@media only screen and (min-width:1200px){

    #header .hamburger {
        display:none;
    }

    #header .nav-list ul {
        position:initial;
        display:block;
        height:auto;
        width:fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display:inline-block;
    }
    #header .nav-list ul li a {
        font-size:1.6rem;
    }


    #header .nav-list ul a:after {
        display:none;
    }

    #services .service-top .section-title {
        margin-bottom:40px;
    }

    #services .service-bottom {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        padding:0;
        

    }

    #services .service-bottom .service-item {
        margin:5%;
      }

    #about .about {
    background-size:65%;
   
}

    #about .about-inner {
        padding:50px;
        width:55%;
        margin:0;
        float:right;
        padding-bottom:0;
    }

  
}


/* End Media Queries for desktop */

/* Media Queries for desktop over 1600px */
@media only screen and (min-width:1600px){
    #about .about {
        background-size:55%;
    }
}

/* End Media Queries for desktop over 1600px */